h1{
    color:rgb(150, 200, 200);
    background-color: rgba(200, 249, 33, 0.2);
    font-size: 2rem;
    text-align: center;
    align-items: center;
    border: 0.1rem solid rgb(40, 100, 100);
    border-radius: 0.5rem;
    margin: 10rem;
    padding: 1rem;

}